<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Mi titulo</h4>
        <component-progress-bar
          [progreso]="progres[0]"
          [className]="classes[0]"
        />
        <component-progress-bar
          [progreso]="progres[1]"
          [className]="classes[1]"
        />
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <component-incrementador
          [progreso]="progres[0]"
          (onProgress)="onProgress($event, 0)"
          [className]="classes[0]"
        />
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <component-incrementador
          [progreso]="progres[1]"
          (onProgress)="onProgress($event, 1)"
          [className]="classes[1]"
        />
      </div>
    </div>
  </div>
</div>
